/* Keyframes */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  background-color: #333;
  
}

/* Jumbotron */
.jumbotron {
  position: relative;
  background-image: url('img/logo3.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-blend-mode: multiply;
}
.spin {
  animation: rotate 2s linear infinite;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

/* Typography */
h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Team Members */
.team-members {
  margin-top: 5rem;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.team-member h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.team-member p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #666;
}

/* Thrift Store */
.thrift-store {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.thrift-store img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.thrift-store h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.thrift-store p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #666;
}

/* Media Queries */
@media (max-width: 992px) {
  .jumbotron {
    padding: 80px 0;
  }
  .jumbotron h1 {
    font-size: 3rem;
  }
  .team-member img {
    width: 80px;
    height: 80px;
  }
  .thrift-store {
    height: auto;
    padding: 10px;
  }
  .thrift-store img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .jumbotron h1 {
    font-size: 3rem;
  }
  .jumbotron {
    padding: 80px 0;
  }
  .team-member img {
    width: 80px;
    height: 80px;
  }
  .thrift-store {
    height: auto;
    padding: 10px;
  }
  .thrift-store img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .jumbotron {
    padding: 60px 0;
  }
  .jumbotron h1 {
    font-size: 2rem;
  }
  .team-member img {
    width: 60px;
    height: 60px;
  }
  .thrift-store img {
    width: 40px;
    height: 40px;
  }
}

/* Cards */
.card {
  border: 2px solid rgba(0, 0, 0, 0.2); /* Darker border */
  border-radius: 10px;
  overflow: hidden; /* Ensures content overflow is hidden */
}

.card-img-top {
  width: auto; /* Set image width to auto */
  height: auto; /* Set image height to auto */
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}